torch>=2.5.0
lightning>=2.1
pykeops>=2.1.2
geomloss>=0.2.6
torchsde>=0.2.6
ABCParse>=0.1.4
adata-query>=0.0.2
annoyance>=0.0.18
neural-diffeqs>=0.3.2
torch-nets>=0.1.0
torch-adata>=0.1.1
autodevice>=0.0.2
cellplots>=0.0.1rc0
cell-perturb>=0.0.1rc1
tqdm
anndata>=0.11.3
scanpy>=1.11.0
