lightning>=2.1
anndata>=10.3
torch>=2.1.0
pykeops>=2.1.2
geomloss>=0.2.6
licorice_font>=0.0.3
torchsde>=0.2.6
ABCParse>=0.0.7
annoyance>=0.0.18
neural-diffeqs>=0.3.2
torch-nets>=0.1.0
torch-adata>=0.0.24
autodevice>=0.0.2
