
anndata>=0.9.1
torch>=2.0.0
pykeops>=2.1
geomloss>=0.2.5
licorice_font>=0.0.3
torchsde>=0.2.5
scikit-learn>=1.0.2
umap-learn>=0.5.3
lightning>=2.0.1
neural-diffeqs==0.3.1rc0
torch-nets>=0.0.4
torch-adata>=0.0.23
autodevice>=0.0.2
brownian-diffuser>=0.0.2
vinplots>=0.0.75
annoyance==0.0.18
ABCParse==0.0.3
scdiffeq-plots==0.0.1rc2
plotly==5.15.0
scvelo==0.2.5